

body{
    background-color: black;
}
h6{
    text-decoration: none;
    text-align: center;
    font-size: 3.75vh;
    margin: 4vh;
    color: rgb(226, 149, 6)
    
}

p{
    font-size: 3.75vh;
    text-align: center;
    text-decoration:none;
    margin: 4vh;
    color: #e6b594;
}

